*{
    box-sizing: border-box;
}
/* <!-- nav var --> */
#nav{
    padding: 0 !important;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}
#logo{
    font-size: 30px;
    font-weight: 600;
    margin-left: 2%;
}
#logo span{
    color: orangered;
    font-weight: 700;
    font-size: 40px;
}
ul{
    font-size: 20px;
    margin-right: 5%;
}
ul li a{
    position: relative;
    color: #fff !important;
    margin-right: 8px;
}
ul li a:hover{
    color: orangered !important;
}
ul li a::after{
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    border-bottom: 3px solid orangered;
    transition: all 0.4s linear;
}

ul li a:hover::after{
    width: 100%;
}
ul li .active_nav_link{
    color: orangered !important;
}

/* Responsive */
@media only screen and (max-width:768px){
    ul{
        text-align: center;
        padding: 100px 0;
    }
    ul li{
        padding: 10px 0;
    }
    ul li a:hover::after{
        width: 0;
    }
}

/* <!-- slider --> */
.carousel-item{
    height: 40rem;
    background-size: 100% 100%;
    position: relative;
}
.carousel-caption h5{
    color: orangered;
}
.carousel-caption p{
    color: #fff;
    font-size: 27px;
    text-transform: capitalize;
}

/* Responsive */
@media only screen and (max-width:768px){
    .carousel-item{
        height: 30rem;
        
    }
}
@media only screen and (max-width:1025px){
    .carousel-item{
        height: 30rem;
        
    }
}
@media only screen and (max-width:376px){
    .carousel-item{
        height: 20rem;
        
    }
}

/* <!-- About --> */
#about_us{
    background-color: #B2B1B9;
    padding: 20px 0 100px 0;
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
}
.about_p{
    text-align: justify;
}
#about_img img{
    display: block;
}

/* Responsive */

@media only screen and (max-width:1025px){
    #about_us{
    clip-path: polygon(0 0, 100% 0%, 100% 88%, 0% 95%);
    }
}
@media only screen and (max-width:768px){
    #about_us{
        clip-path: polygon(0 0, 100% 0%, 100% 88%, 0% 95%);
        padding-bottom: 150px;
    }
}
@media only screen and (max-width:376px){
   #about_us{
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 95%);
    }
}
/* <!-- ourFamily --> */
#our_family{
    margin-top: -65px;
    clip-path: polygon(0 8%, 100% 0%, 100% 100%, 0 90%);
    background-color: #FFD523;
    padding: 100px 0 100px 0;
}
#our_family h1{
    margin-top: -50px;
}
.our_family_content{
    padding-bottom: 50px;
}
.our_family_content img{
    display: block;
    padding-bottom: 15px;
}
#our_family .our_family_description{
    border: 5px solid gray;
    width: 234px;
    display: block;
    margin: auto;
    padding: 5px 0;
    border-radius: 25px;
}

/* Responsive */

@media only screen and (max-width:1025px){
    #our_family{
        margin-top: -100px;
    }
}
@media only screen and (max-width:768px){
    #our_family{
        margin-top: -115px;
        clip-path: polygon(0 3%, 100% 0%, 100% 100%, 0 97%);
    }
}
@media only screen and (max-width:376px){
   #our_family{
    margin-top: -110px;
    clip-path: polygon(0 3%, 100% 0%, 100% 100%, 0 97%);
    }
}

/* <!-- Products --> */
.products{
    background-color: #ff7c1d;
    clip-path: polygon(0 0, 100% 5%, 100% 95%, 0 100%);
    padding: 60px 0 100px 0;
    margin-top: -95px;
}
.products img{
    display: block;
    margin: auto;
}
#product_content_1,#product_content_2,#product_content_3,
#product_content_4,#product_content_5{
    /* background-color: #fff; */
    padding: 40px 0 0 0;
    box-shadow: -1px 2px 21px -7px rgba(0,0,0,0.75);
    border-radius: 25px;
    border: 5px solid #fff;
    transition: all .2s;
}
#product_content_1:hover,#product_content_2:hover,#product_content_3:hover,
#product_content_4:hover,#product_content_5:hover{
    transform: scale(98%);
}
#product_content_6{
    background-color: #ffcece;
    box-shadow: -1px 2px 21px -7px rgba(0,0,0,0.75);
    border-radius: 25px;
}
#product_content_6 h3{
    margin-top: 200px;
    color: gray;
    font-size: 40px;
}

#product_content_1 img{
    padding-bottom: 15%;
    filter: drop-shadow(4px 8px 10px #000);
}
#product_content_2 img{
    padding-bottom: 28.5%;
    /* filter: drop-shadow(0 0 0.75rem #000); */
}
#product_content_3 img{
    padding-bottom: 25.7%;
    filter: drop-shadow(4px 8px 10px #000);
}
#product_content_4 img{
    padding-bottom: 36.7%;
    filter: drop-shadow(4px 8px 10px #000);
}
#product_content_5 img{
    padding-bottom: 14.9%;
    filter: drop-shadow(4px 8px 10px #000);
}

.second_row{
    margin-top: 50px;
}
.product_description{
    background-color: #ffcece;
    padding: 20px 0 30px 0;
    border-radius: 0 0 20px 20px;
}
.product_description h3{
   margin-bottom: 30px;
}
.product_description a{
    text-decoration: none;
    padding: 15px 15px;
    background-color: #fff;
    border-radius: 20px;
    transition: all .3s;
}
.product_description a:hover{
    color: #fff;
    background-color: #3668fd;
}

/* Responsive */
@media only screen and (max-width:1025px){
    #product_content_1 img{
        padding-bottom: 15.7%;
    }
    #product_content_2 img{
        padding-bottom: 59.7%;
    }
    #product_content_3 img{
        padding-bottom: 56.7%;
    }
    /* #product_content_4 img{
        padding-bottom: 154px;
    }
    #product_content_5 img{
        padding-bottom: 100px;
    } */
    #product_content_6 h3 {
        margin-top: 184px;
        color: gray;
        font-size: 29px;
    }

}
@media only screen and (max-width:768px){
    .products{
        clip-path: polygon(0 0, 100% 2%, 100% 98%, 0 100%);
        margin-top: -90px;
    }
    #product_content_1,#product_content_2,#product_content_3,
    #product_content_4,#product_content_5,#product_content_6{
        width: 400px;
    }
    #product_content_6 h3{
       height: 300px;
    }
}
@media only screen and (max-width:376px){
    .products{
        clip-path: polygon(0 1%, 100% 3%, 100% 98%, 0 100%);
        padding-top: 100px;
        margin-top: -100px;
    }
    #product_content_1,#product_content_2,#product_content_3,
    #product_content_4,#product_content_5,#product_content_6{
        width: 300px;
    }
}

/* <!-- Footer --> */
#footer{
    background-color: #0A1931;
    padding: 150px 0 0 0;
    margin-top: -100px;
    color: #fff;
}
#footer_logo h1{
    color: red;
}
#footer h3{
    color: peru;
}
#footer_about p{
    text-align: justify;
}
#footer ul{
    list-style: none;
    padding: 0;
}
#footer a{
    text-decoration: none;
}
#footer i{
    margin-right: 15px;
}
#copy_right{
    padding: 150px 0 10px 0;
}
#copy_right h6{
    color: gray;
}
#copy_right h5{
    color: gray;
    font-size: 15px;
}
#copy_right img{
    width: 40px;
    padding: 0px 0 0 10px;
}


/* Responsive */
@media only screen and (max-width:1025px){
    #footer_logo h1{
        font-size: 32px;
    }
    #footer h3{
        font-size: 25px;
    }
}
@media only screen and (max-width:768px){
    #footer_logo h1{
        font-size: 25px;
    }
    #footer_about p{
        font-size: 12px;
    }
    #footer h3{
        font-size: 15px;
    }
    #footer ul{
        font-size: 12px;
    }
    #footer ul li{
        padding: 10px 0 0 0;
        font-size: 13px;
        text-align: justify;
    }
    #footer i{
        margin-right: 5px;
    }
    #footer_contact h6{
        font-size: 13px;
    }
    #copy_right h6{
        font-size: 12px;
    }
    #copy_right h5{
        font-size: 10px;
    }
}
@media only screen and (max-width:376px){
    #copy_right{
        padding: 100px 0 7px 0;
    }
    #copy_right img{
       width: 30px;
    }
}


/* <!-- Contact_Us --> */
